@import "tailwindcss";

body{
    /* background-color: #fd2c2a; */
   transition: all 1s ease;
    background-color: black;
    color: white;
}

canvas {
    pointer-events: none;
}

.growing{
    background-color: red;
}